# Delay updates by 24 hours (malware is usually caught within 6 hours)
minimum-release-age=1440
minimum-release-age-exclude[]=lodash
minimum-release-age-exclude[]=lodash-es

# We use the JSR registry since it's better for typescript and also because it's where @meshtastic lives.
@jsr:registry=https://npm.jsr.io

# Electron breaks without this
node-linker=hoisted

# Verify that the package downloaded matches the registry's hash exactly
verify-store-integrity=true